[general]
state_file = /var/awslogs/state/agent-state

[<%= node[:opsworks][:stack][:name] %>-http-access]
datetime_format = [%Y-%m-%d %H:%M:%S]
log_group_name = <%= node[:opsworks][:stack][:name].gsub(' ','_') %>-http-access
file = <%= node[:apache][:log_dir] %>/*-access.log
log_stream_name = <%= node[:opsworks][:instance][:hostname] %>
